<!DOCTYPE html>
<html>
<head>
  <title>SolidusJapanesePayment</title>
  <%= stylesheet_link_tag    "solidus_japanese_payment/application", media: "all" %>
  <%= javascript_include_tag "solidus_japanese_payment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
